<a href="https://colab.research.google.com/github/varshithhhhh/python/blob/main/Task7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def categorize_tickets(ticket_ids):
    adult_tickets = list(filter(lambda x: x % 2 == 0, ticket_ids))
    child_tickets = list(filter(lambda x: x % 2 != 0, ticket_ids))
    return adult_tickets, child_tickets

ticket_ids = [101, 202, 305, 410, 513, 620, 723, 830, 915, 1080]
adult_tickets, child_tickets = categorize_tickets(ticket_ids)
print("Adult tickets: ", adult_tickets)
print("Child tickets: ", child_tickets)

Adult tickets:  [202, 410, 620, 830, 1080]
Child tickets:  [101, 305, 513, 723, 915]

In [ ]:
def func_compute(n):
    return lambda x: x * n

result = func_compute(2)
print("Double the number of 15 = ", result(15))

result = func_compute(3)
print("Triple the number of 15 = ", result(15))

result = func_compute(4)
print("Quadruple the number of 15 = ", result(15))

result = func_compute(5)
print("Quintuple the number of 15 = ", result(15))

Double the number of 15 =  30
Triple the number of 15 =  45
Quadruple the number of 15 =  60
Quintuple the number of 15 =  75

In [ ]:
def cube_product_of_natural_numbers(n):
    product = 1
    for i in range(1, n + 1):
        product *= i**3
    return product

n = int(input("Enter the value of n: "))
result = cube_product_of_natural_numbers(n)
print("Cube product of the first", n, "natural numbers is:", result)

Enter the value of n: 4
Cube product of the first 4 natural numbers is: 13824

In [ ]:
def find_discount(qty):
    if qty <= 10:
        return 0
    elif 11 <= qty <= 30:
        return 15
    else:
        return 20

def buy():
    Icode = int(input("Enter Item Code: "))
    Item = input("Enter Item name: ")
    Price = float(input("Enter Price: "))
    Qty = int(input("Enter Quantity: "))
    discount_rate = find_discount(Qty)
    Discount = Price * Qty * discount_rate / 100
    NetPrice = Price * Qty - Discount
    return Icode, Item, Price, Qty, Discount, NetPrice

def showall(Icode, Item, Price, Qty, Discount, NetPrice):
    print("Item Code:", Icode)
    print("Item:", Item)
    print("Price:", Price)
    print("Quantity:", Qty)
    print("Discount:", Discount)
    print("Net Price:", NetPrice)

# Example usage:
details = buy()
showall(*details)

Enter Item Code: 143
Enter Item name: Bathaya
Enter Price: 2300
Enter Quantity: 2
Item Code: 143
Item: Bathaya
Price: 2300.0
Quantity: 2
Discount: 0.0
Net Price: 4600.0